<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>confirmation page</title>
</head>

<body>
  <div class="row">
    <div class="col-md-12">
      <p>Thanks for registration. confirmation link is sent to your email address, please verify from your email address to login automatically. <a href="{% url "crud:signup" %}">Back</a></p>
    </div>
  </div>
  <div class="footer footer-container" style="background-color:black; color: white; font-size:10px;">
    <div class="row text-center-aligned" style="padding: 25px 50px 75px 800px;">
      <p>This website is made by Achyut copyrigtht 2019.</p>
      <br>
      <p>@prabidhilabs</p>
    </div>
  </div>
</body>

</html>
